# Spotify API (you'll get these today)
SPOTIFY_CLIENT_ID=4cf1ea44e49e4ab48c806f3fd6938b74
SPOTIFY_CLIENT_SECRET=e5f24a4570e84274826ea27f3bfeb890

# PostgreSQL Database (you'll set these up today)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=spotify_data
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin0125

# Application Settings
LOG_LEVEL=INFO


